[submodule "AJL"]
	path = AJL
	url = https://github.com/revk/AJL
[submodule "DESFireAES"]
	path = DESFireAES
	url = https://github.com/revk/DESFireAES
[submodule "AXL"]
	path = AXL
	url = https://github.com/revk/AXL
